In [ ]:
%config Completer.use_jedi = False

# Introduction to Python

## For Data Workloads


We'll cover a few Python basics, and then consider a few popular tools for data workloads.

<!-- |Section|  Description |
|---|---|
| Python Programming  |   |
| Object Orientation  |   |
| Functional Programming |  |
 -->

Python is: 
    
   * _dynamically typed_ (types are resolved at runtime - values have types, not variables)
   * _strongly typed_ (forbids mixed type operations, e.g. `string` + `int`)
   * _interpreted_ (not compiled on the host machine)
   * emphasizes _code readibility_ (e.g. use of indentation)
   

But first, ..., asking for **help**. Append a `?` to the end of your function call or object, and you will receive a pleasant print out in Jupyter notebooks (or use `help(function)` in the python command line interface). For example

![python-ask-for-help.png](python-ask-for-help-small.png)

## Python Programming

Concepts of particular relevance 

 * functions 
 * iterables
   - collections that can be iterated, e.g. `list`
 * types
 * classes

### Built in Functions

For a more comprehesive list, visit [w3schools](https://www.w3schools.com/python/python_ref_functions.asp).

##### Plain old functions

In [ ]:
print(f'len\n\treturn the length of an object: {len([1])}')
print(f'print\n\tprint to stdout')
print(f'isinstance\n\treturn True if provided object is instance of provided type: {isinstance([], list)}')
print(f'type\n\treturn the type of an object: {type(list)}')

##### Boolean operations

In [ ]:
print(f'any\n\treturn True if any element of an iterable is true: {any([False, False, True])}')
print(f'all\n\treturn true if all elements are true: {all([True])}')
print(f'bool\n\treturn boolean value of object: {bool(None)}')

##### Mathematical operations

In [ ]:
print(f'abs\n\treturn the absolute value of an expression/number: {abs(1-2)}')
print(f'min,max,sum\n\tacts on iterable: {(min([0,1]), max([0,1]), sum([0,1]))}')

##### Collection operations

In [ ]:
print(f'list\n\tcreate a list from an iterable: {list([0,1])}')
print(f'enumerate\n\tcreate enumerated object: {list(enumerate([0,1]))}')
print(f'filter\n\texclude items in iterable: {list(filter(None, [1, None, 1]))}')
print(f'zip\n\treturns an iterator over two of more iterators: {list(zip([0,1], [0,1]))}')

### Built-in Types

Consult the official [Built-in](https://docs.python.org/3/library/stdtypes.html#built-in-types) documentation for more information.

#### Numeric Types
  * `int` (unlimited precision)
  * `float` (typically double precision)
  * `complex` (\<float\> + \<float\>i )

In [ ]:
eg_int = 10000
print(type(eg_int), eg_int)


eg_float = 1e7
print(type(eg_float), eg_float)

print(f'modulo: {3 % 2}')

print(f'pow: {2**4}')

print(f'largest whole no 3/2: {int(3/2)}')
print(f'largest whole no 3/2: {3//2}')

### Sequence Types

  * `list` (a datastructure - mutable *ordered* list of elements)
  * `tuple` (immutable ordered list of elements)
  * `ranges` (immutable ordered list of numbers)

#### Creation

In [ ]:
list_a = []
list_b = [0,1,2]

tuple_a = ()
tuple_b = (0,1,2)

# create a list from a tuple or a tuple from a list
list_c = list(tuple_b)
tuple_c = tuple(list_b)

# create a range object
range_a = [range(1,2)]

#### What we mean by immutable

In [ ]:

# attempt to re-assign the first element of tuple & list
print('A list is mutable!')
print(list_c, list_c[1])
list_c[1] = 2
print(list_c, list_c[1])

print(tuple_c, tuple_c[0])

try:
    tuple_c[0] = 1
except TypeError as e:
    print(f'nope! a tuple is immutable\n\tException raised: {e}')

#### Operations on/using Sequence Types

In [ ]:
# operations on lists

# concatenating lists
print([0,1] + [2,3] + [4]*4)

# finding position of an element (returns idx of first element encountered)
print([0,0,2,0,0].index(2))

# append to a list
l=[0,1,2]
l.append(3)
print(l)

# slice a list (upper bound excluded)
print(l[1:3])

# sum a list, or find the max and min
print(sum(l), min(l), max(l))

### Set Types

 * `set` (a mutable mathematical set - unordered and elements are unique/hashable)
 * `frozenset`: immutable version of a set (thus entire structure is hashable)

In [ ]:
# creation

s = set([0,1,1,1])
print(s)

print(frozenset([0,1]))

### Mapping Types

 * `dict`: map hashable values to arbitrary objects 
 
Immutable types are hashable and may therefore always be used as keys

In [ ]:
d = dict([('a', 1), ('b', 2)])
print(d)

d = {'a': 1, 'b': 2}


# what you can't do...
x = [1]
try:
    {x: 3}
except TypeError as e:
    print(e)

### Text Sequence Types

 * `str`: immutable sequences of unicode points

In [ ]:
# Creation

string_a = "a string"
string_b = 'a string'
string_c = """longer
string"""

print(string_c)

In [ ]:
# Operations on strings

print(string_a.upper().isupper())
print(string_a.lower().islower())
print(string_a.isdigit())

In [ ]:
# slicing and dicing

print(string_a.split(' '))
string_a.replace('st', '')

### Functions

In [ ]:
def multiply(a,b):
    return a*b

multiply(2,3)

In [ ]:
def by_what(x: list):
    """mutable vs immutable"""
    ix = x
    ix[0] = 'edited'
    #  ix = 3
    return ix
    
l = [1,2]
print(by_what(l))
l

In [ ]:
# Generators

def squaring(x):
    runner = x
    while runner < 1e4:
        runner *= x
        yield runner
        
list(squaring(2))

### Classes

In [ ]:
class Example:
    
    def __init__(self):
        self.a = 'hello world'
    
    def exclaim(self):
        print(self.a + '!!!')
        
        
    @staticmethod
    def freestyle():
        print('goodbye world')
        
        
o = Example()
o.exclaim()
o.freestyle()  #Example.freestyle()

In [ ]:
# Anonymous

f = lambda x: x**2

g = lambda x: x*2

print(f(2))
print(g(f(2)))

### Loops and iterables

In [ ]:
for e in range(0,4):
    print(e)

In [ ]:
for e in zip([0,1,2,3], ['a', 'b', 'c', 'd']):
    print(e)

In [ ]:
d = dict(zip([0,1,2,3], ['a', 'b', 'c', 'd']))
for k,v in d.items():
    print(f'{k} --> {v}')

### Pandas Dataframes

In [ ]:
import pandas as pd


df = pd.DataFrame([ ['r1c1', 'r1c2', 'r1c3'], ['r2c1', 'r2c2', 'r3c3'] ], columns=['C1', 'C2', 'C3'])

# pd.DataFrame([ range(0,5) , [1]*5  ]).T

In [ ]:
df.columns

In [ ]:
df.index

#### Plots

In [ ]:
import datetime
my_index = pd.date_range(start=datetime.datetime.now(), periods=10, freq='D')

In [ ]:
import math
values = [math.cos(x*math.pi/10) for x in range(0, 10)]

In [ ]:
df = pd.DataFrame(values, columns=['values'])

df.set_index(my_index)

df.plot()

### Subsetting

In [ ]:
(df.values < 0)

### Row-level operations

In [ ]:
df['inflated'] = df['values'].map(lambda x: x**2)

In [ ]:
df

In [ ]:
df.plot()